<div class="top">

  <h1>Hello!</h1>

  <div class="homenav">
    <span>
      <%= link_to 'Blog', controller: 'articles' %>
    </span>
    <span>
      <%= link_to 'Add', new_article_path%>
    </span>
  </div>
</div>
